 <!-- block pour total vetements -->
<div class="row  mt-2 sticky-top">
  <div class="total-mobile align-items-center">
    <p>Vetements</p>
    <div class="">
      <i>30% <br>d’incertitude</i>
    </div>
    <div class="white-rectangle">
      <p id="totalVetements"></p>
    </div>
    <div id="hideShowVetements">
      <p id="vetementplusmoins"> + </p>
    </div>
  </div>
</div>
<div class="vetement">
  <div class="container">
    <!-- field chemisecoton -->
    <div class="row align-items-center item mt-1">
      <div class=" col-xs-4 field">
        <%= f.label :"Chemise coton" %>
        <%= f.number_field :chemisecoton, id: 'userChemisecoton' %>
      </div>
      <div class="col-xs-2 unit">
        <p>kg</p>
      </div>
      <div class="col-xs-2 charge">
        <p>11 kg/kg</p>
      </div>
      <div class="col-xs-4 white-rectangle">
        <p id="scoreChemisecoton"></p>
      </div>
    </div>

    <div class="intro">
      <p>Pour ajouter d’autres vetements ou produits, utiliser l’appli Karbon qui scanne les code-barres pour évaluer l’empreinte
        carbone, saisie sous « ajouter des valeurs »</p>
    </div>
    <!-- fin du container category alim-->
  </div>
  <!-- end of alim -->
</div>
