<div class="row mt-2 sticky-top">
  <div class="category-header">
    <div class="d-flex align-items-center">
      <div><i class="fa-solid fa-circle-plus me-2"></i>Autres : </div>
      <%# <div class="">
        <i>50% <br>d’incertitude</i>
      </div> %>
      <div class="category-total">
        <div id="totalValeur"></div>
      </div>
    </div>
    <div id="hideShowValeur" class="toggle-icon">
      <div id="valeurplusmoins"> + </div>
    </div>
  </div>
</div>
<div class="valeur">
  <!-- change class for the good category and do css and js -->
  <div class="">
   
    <small><i class="fa-solid fa-circle-info me-2"></i>Nous proposons ici d’ajouter des kg de CO2 tels que collectés par l’application <a href= "https://base-empreinte.ademe.fr/" target="_blank"> https://base-empreinte.ademe.fr/</a> ou par l’usage d’autres produits :</small>

    <div class="row align-items-center item mt-1">
      <div class=" col-4 field">
        <%= f.label :"valeur 1" %>
        <%= f.number_field :autre, id: 'userValeur1', class:"form-control" %>
      </div>
      <div class="col-2 unit">
        <div>kg</div>
      </div>
      <div class="col-2 charge">
        <div></div>
      </div>
      <div class="col-4 sub-category-result">
        <div id="scoreValeur1"></div>
      </div>
    </div>
    <div class="row align-items-center item mt-1">
      <div class=" col-4 field">
        <%= f.label :"valeur 2" %>
        <%= f.number_field :valeur2, id: 'userValeur2', class:"form-control" %>
      </div>
      <div class="col-2 unit">
        <div>kg</div>
      </div>
      <div class="col-2 charge">
        <div></div>
      </div>
      <div class="col-4 sub-category-result">
        <div id="scoreValeur2"></div>
      </div>
    </div>
  </div>
</div>
