<div class="row mt-2 sticky-top">
  <div class="total-mobile align-items-center">
    <p>Autres</p>
    <%# <div class="">
      <i>50% <br>d’incertitude</i>
    </div> %>
    <div class="white-rectangle">
      <p id="totalValeur"></p>
    </div>
    <div id="hideShowValeur">
      <p id="valeurplusmoins"> + </p>
    </div>
  </div>
</div>
<div class="valeur">
  <!-- change class for the good category and do css and js -->
  <div class="container">
    <div class="intro">
      <p>Nous proposons ici d’ajouter des kg de CO2 tels que collectés par l’application Karbon ou par l’usage d’autres produits</p>
    </div>
    <div class="row align-items-center item mt-1">
      <div class=" col-xs-4 field">
        <%= f.label :"valeur 1" %>
        <%= f.number_field :autre, id: 'userValeur1' %>
      </div>
      <div class="col-xs-2 unit">
        <p>kg</p>
      </div>
      <div class="col-xs-2 charge">
        <p></p>
      </div>
      <div class="col-xs-4 white-rectangle">
        <p id="scoreValeur1"></p>
      </div>
    </div>
    <div class="row align-items-center item mt-1">
      <div class=" col-xs-4 field">
        <%= f.label :"valeur 2" %>
        <%= f.number_field :valeur2, id: 'userValeur2' %>
      </div>
      <div class="col-xs-2 unit">
        <p>kg</p>
      </div>
      <div class="col-xs-2 charge">
        <p></p>
      </div>
      <div class="col-xs-4 white-rectangle">
        <p id="scoreValeur2"></p>
      </div>
    </div>
  </div>
</div>
