// Specific CSS for your home-page
html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
}

footer {
  // min-height: 50px;
  background: PapayaWhip;
}

/* Trick */
body {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}


.full-height {
  @media (min-width: 576px) {
    height:100%
   }
}
