.list-pro  {
  list-style: none;
}
.intro {
  color: whitesmoke;
}



.field-entreprise {
  color: whitesmoke;
}

.white-rectangle-pro {
  background-color: white;
  width: 70px;
  height: 30px;
  z-index: 1;
  margin: auto;
  margin-right: 10px;
  border: #96C58E;
  border-radius: 5px;
}

.bottom {
  height:30px
}
