<div class="container" id="container_home" align="center">
  <div class="row ">
    <div class="col" align="center">
      <h2 class="mt-2">Carbometre</h2>
      <div class="intro">
        <p>L’application vous demande un e-mail et court mot de passe pour faire évoluer vos calculs d’empreintes (nécessaire pour
        votre base de données) mais ne collecte pas d’information : vous pouvez taper un faux e-mail de type a@b.fr code 123,
        mais dans ce cas si vous avez perdu vos précédents calculs, vous ne pourrez pas demander à récupérer votre mot de passe.</p>
      </div>
      <div class="mt-3">
        <%= link_to "Nouvelle empreinte familiale", new_footprint_path, class: "btn btn-gradient" %>
      </div>
      <div class="mt-3">
        <%= link_to "Nouvelle empreinte professionnelle",  pages_professional_bilan_path, class: "btn btn-gradient" %>
      </div>
      <div class="mt-3">
        <%= link_to "Mes empreintes",  footprints_path, class: "btn btn-gradient" %>
      </div>
    </div>
  </div>
</div>




