<h1>Carbometre</h1>
<ul>
  <li><%= link_to "Nouvelle empreinte personnelle", new_footprint_path %></li>
  <li><%= link_to "Nouvelle empreinte entreprise",  pages_professional_bilan_path %></li>
  <li><%= link_to "Mes empreintes",  footprints_path %></li>
</ul>

