<script>
  function calculate() {
    var myBox1 = document.getElementById('empreinte-entreprise').value;
    var myBox2 = document.getElementById('effectif').value;
    var totalPro = document.getElementById('totalPro');
    var myResult = myBox1 / myBox2;
    totalPro.value = myResult;
  }
</script>


<div class="container">
  <h2>Empreinte métier</h2>
  <div class="row myx-2 intro">
    <p class="mx-2">Il faut vous procurer l’empreinte globale de votre entreprise, porter le nombre d’employés et ainsi vous aurez
    l’empreinte de votre activité professionnelle.</p>
  </div>
  <div class="row">
    <div class="col-sm list-pro text-center">
         <li class="btn btn-gradient mt-2">Demander l’empreinte carbone à l’entreprise</li>
         <li> <%= link_to "Chercher l'empreinte sur basecarbone.fr", "https://www.basecarbone.fr/fr/bilanenligne/bilans", class: "btn btn-gradient mt-2", target: "_blank" %></li>
         <li> <%= link_to "Demander une étude à acces@escape-jobs.fr", "https://www.escape-jobs.fr/", class: "btn btn-gradient mt-2 mb-4", target: "_blank" %></li>
    </div>
  </div>

  <div class="row justify-content-center">
    <h4>Calculer empreinte métier</h4>
  </div>
  <div class="row mb-2">
    <div class="col">
      <label for="empreinte-entreprise" class="field-entreprise">Empreinte carbone (t/an)</label><br>
      <input id="empreinte-entreprise" type="number"  />
    </div>
    <div class="col">
      <label for="effectif" class="field-entreprise">Effectif de l'entreprise --</label><br>
      <input id="effectif" type="number" />
    </div>
    <div class="col ">
      <p class="field-entreprise">Empreinte métier (t/an)</p>
      <div class="white-rectangle-pro"  >
        <p id="totalPro"></p>
      </div>
    </div>
  </div>
  <div class="row myx-2 intro">
    <p class="mx-2">Nota : les valeurs déclarées par les entreprises dans la basecarbone de l’ADEME sont souvent disparates, il faut
    chercher le scope3 dans l’onglet « tableau de déclaration ». C’est obligatoire pour les entreprises de plus de 500
    personnes (mais sans contrôle ou sanction), il faut insister auprès de l’employeur.</p>
  </div>
  <div class="bottom">
  </div>
</div>

<%= javascript_pack_tag 'pro' %>
