<div class="container">
  <h2>Empreinte métier</h2>
  <div class="row myx-2 intro">
    <p class="mx-2">il y aurait un paragraphe d’explications sur le fait que les
    calculs d’empreinte carbone des entreprises sont souvent disparates selon ce qu’elles y mettent (il existe une
    méthodologie, une obligation pour les entreprises de plus de 500p, mais pas de contrôle ni sanction).</p>
  </div>
  <div class="row">
    <div class="col-sm list-pro" align="center">
         <li class="btn btn-gradient mt-2">Demander l’empreinte carbone à l’entreprise</li>
         <li> <%= link_to "Chercher l'empreinte sur basecarbone.fr", "https://www.basecarbone.fr/fr/bilanenligne/bilans", class: "btn btn-gradient mt-2", target: "_blank" %></li>
         <li> <%= link_to "Demander une étude à reseau@escape-jobs.com", "https://www.escape-jobs.fr/", class: "btn btn-gradient mt-2 mb-4", target: "_blank" %></li>
    </div>
  </div>

  <div class="row justify-content-center">
    <h4>Calculer epreinte entreprise</h4>
  </div>
  <div class="row mb-2">
    <div class="col">
      <label for="empreinte-entreprise" class="field-entreprise">empreinte carbone:</label><br>
      <input id="empreinte-entreprise" type="number" />
    </div>
    <div class="col">
      <label for="effectif" class="field-entreprise">effectif de l'entreprise:</label><br>
      <input id="effectif" type="number" />
    </div>
    <div class="col">
      <p class="field-entreprise">Empreinte entreprise</p>
      <div class="white-rectangle-pro"  >
        <p id="totalhhhhhh"></p>
      </div>
    </div>
  </div>
  <div class="bottom">
  </div>
</div>

