<div class="container">
  <h2>Empreinte métier</h2>
  <div class="row">
    il y aurait un paragraphe d’explications sur le fait que les
    calculs d’empreinte carbone des entreprises sont souvent disparates selon ce qu’elles y mettent (il existe une
    méthodologie, une obligation pour les entreprises de plus de 500p, mais pas de contrôle ni sanction). </p>
  </div>
  <div class="row">
    <div class="col-sm">
       <ul>
         <li>Demander l’empreinte carbone à l’entreprise</li>
         <li> <%= link_to "chercher l'empreinte sur basecarbone.fr", "https://www.basecarbone.fr/fr/bilanenligne/bilans" %></li>
         <li> <%= link_to "demander une étude à reseau@escape-jobs.com", "reseau@escape-jobs.com" %></li>
       </ul>
      </div>
    </div>
  </div>

  Le prévisionnel métier est très sommaire : diviser l’empreinte carbone de l’entreprise par le nombre d’employés.


  ou la chercher sur https://www.basecarbone.fr/fr/bilanenligne/bilans

  ou encore demander une étude à reseau@escape-jobs.com .

  il y aurait un paragraphe d’explications sur le fait que les
  calculs d’empreinte carbone des entreprises sont souvent disparates selon ce qu’elles y mettent (il existe une
  méthodologie, une obligation pour les entreprises de plus de 500p, mais pas de contrôle ni sanction).
