<!-- main div containing all cards and fields -->
<div class="bg-light">
  <div class="container">
    <h2 class="my-4 text-center">Modifier mon empreinte familiale annuelle</h2>

    <%= simple_form_for(@footprint) do |f| %>
      
      <%= render partial: "form", locals: {f: f} %>
      
      <div class="d-flex justify-content-center mt-3">
        <%= f.submit :"Valider", data: {confirm: "Êtes-vous sûr de vouloir modifier cette empreinte ?"}, class:"btn btn-flat" %>
      </div>
    <% end %>
  </div>
</div>