.btn-gradient {
  color: whitesmoke;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#96C58E, #5B9E4F);
  transition: background 0.3s ease;
  border: 1px solid #596B52;
  object-fit: fill;
}

.btn-gradient:hover {
  background: linear-gradient(#6f9978, #618669);
  color: white;
}
