#hideShowBle {
  height: 40px;
  width: 40px;
  background-color: #5B9E4F ;
  border-radius: 50%;
  font-weight: bold;
}

#hideShowEnergie {
  height: 40px;
  width: 40px;
  background-color: #5B9E4F ;
  border-radius: 50%;
  font-weight: bold;
}
