.container {
  background-color: #596b52;
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: whitesmoke;
}

.titre {
  color: whitesmoke;
  font-weight: bold;
}

#footprint_title {
  border: 0;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(90, 90, 90, 0.2);
}

.total-mobile {
  width: 95%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  margin-left: 10px;
  background-color: #618669;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.total-mobile p {
  text-align: center;
  color: whitesmoke;
  margin-top: 8px;
}

.item {
  background-color: #96c58e;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
}

input[type="number"] {
  width: 80px;
}

.white-rectangle {
  background-color: white;
  width: 70px;
  height: 30px;
  z-index: 1;
  border: #96c58e;
  text-align: justify;
  border-radius: 5px;
}

.white-rectangle p {
  color: black;
}

.field {
  margin-top: 8px;
  margin-bottom: 8px;
  flex: 0 0 100px;
}

.conso-voiture {
  background-color: #618669;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.charge p {
  margin: 0px;
}

.unit p {
  margin: 0px;
}

.voiture {
  display: none;
}

.transport {
  display: none;
}

.energie {
  display: none;
}

.autre {
  display: none;
}

.alim {
  display: none;
}

.valeur {
  display: none;
}

.vetement {
  display: none;
}
.divers {
  display: none;
}
