.total-mobile {
  background-color: #618669;
  width: 700px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;


}

.total-mobile p {
  text-align: left;
  color:#d5f1d6 ;
}



