// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "banner";
@import "navbar";
@import "form";
@import "buttons";
@import "show";
@import "cards";
@import "connect-register";

a {
  text-decoration: none !important;
  color: inherit !important;
  &:hover {
    font-weight: bold;
  }
}

.container {
  padding: 80px 32px 60px 32px;
  max-width: 900px;
}
