.navbar-lewagon {
  justify-content: space-between;
  background-color: white !important;
  color: $green !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  color: $green !important;
}

.nav-item:hover {
  background-color: $green !important;
  color: white !important;
  border-radius: 4px;
}

.navbar-toggler {
  border: none !important
}